<ng-container class="main">
  <app-header></app-header>
  <mat-tab-group mat-align-tabs="center">
    <ng-container *ngFor="let tab of tabs">
      <mat-tab [label]="tab.text">
        <mat-grid-list cols="4" rows="1">
          <ng-container *ngFor="let tile of tiles">
            <mat-grid-tile
              [colspan]="tile.cols"
              [style.background]="tile.color"
            >
              <ng-container
                *ngIf="tile.type === 'filters'; then trueBlock; else falseBlock"
              >
              </ng-container>
              <ng-template #trueBlock>
                <app-filters
                  (dataSourceEvent)="setDataSource($event)"
                  [endpoint]="tab.id"
                ></app-filters>
              </ng-template>
              <ng-template #falseBlock>
                <app-table
                  *ngIf="tableDataSourceArr.length > 0; else falseBlock2"
                  [endpoint]="tab.id"
                  [tableData]="tableDataSourceArr"
                  [displayedColumns]="displayedColumns"
                ></app-table>
                <ng-template #falseBlock2> No data! </ng-template>
              </ng-template>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</ng-container>
