table {
  width: 100%;
  table-layout: fixed;
}

.table-container {
  position: relative;
  width: 100%;
  min-height: 200px;
  max-height: 88vh;
  overflow: scroll;
}

mat-header-cell,
mat-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  white-space: nowrap;
  display: block;
}
