table {
  width: 100%;
  table-layout: fixed;
}

.mat-table {
  width: 100%;
  overflow-x: scroll;
  max-height: 86vh;
}

.table-container {
  position: relative;
  max-width: 75vw;
  min-height: 200px;
  max-height: 88vh;
  overflow: scroll;
}

mat-header-cell,
mat-cell {
  min-width: 200px;
  width: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* padding: 8px 8px 8px 8px; */
  display: inline-block;
}

mat-header-cell {
  font-weight: bold;
  font: 15px;
  color: rgb(44, 44, 44);
}
