<div class="table-container">
  <mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <mat-header-cell *matHeaderCellDef>{{ col | uppercase }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[col] }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
